$size: 100px;
$bg-color: #eee;
$bg-color-hover: pink;
$border-style: 1px solid black;
$gap: 1px;
$common-font-family: arial, helvetica, sans-serif;
$common-font-size: 30px;
$week-days: ("tue": 1, "wed": 2, "thu": 3, "fri": 4, "sat": 5, "sun": 6);
$months-length: ("28": 28,"29": 29,"30": 30,"31": 31);
